.parent{
    background-color: bisque;
    position: sticky;
    padding: 5px;
    height: 1000vh;
    top: 10px;
}

.one{
    background-color: aqua;
    position: sticky;
    top:10px;
}

.two{
    background-color: blue;
}

.three{
    background-color: blueviolet;
    position: sticky;
    top: 20px;
}